:root {
  --primary-color: #1b262c;
  --secondary-color: #8fb7cc;
  --accent-color: #dddddd;
  --box-shadow: 0 5px 8px 0 rgba(140, 149, 180, 0.2);
  --font-heading: "Sarala", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

h1,
h2,
p {
  color: var(--primary-color);
}

h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  text-align: center;
}

h1 {
  font-size: 8rem;
  line-height: 1;
  margin: 0;
}

p {
  font-family: var(--font-body);
  border-radius: 6px;
  line-height: 2;
  margin: 1rem;
  padding: 2rem;
  text-align: center;
}

a {
  color: var(--secondary-color);
  cursor: pointer;
  font-family: var(--font-body);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.banner {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/012/413/original/sharon-mccutcheon-ouRjPLWGbPc-unsplash.jpg?1625527790);
  margin: 0;
  margin-left: 0;
  margin-top: 6rem;
  padding: 2rem;
  opacity: 0.9;
}

.about {
  margin-top: 4rem;
}

.country {
  font-size: 14px;
  opacity: 0.7;
}

.email-link {
  display: block;
  text-align: center;
}

.navigation-links {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.navigation-links a,
.yoga-button a {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--secondary-color);
  margin: 3rem;
}

.contact-link,
.app-button a {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.contact-link:hover,
.portfolio-button:hover {
  color: #ffffff;
}

.about-link {
  color: var(--secondary-color);
}

.app-paragraphs h2,
.app-paragraphs p {
  text-align: left;
  padding-left: 0;
  margin-left: 0;
}

.img-fluid {
  box-shadow: var(--box-shadow);
}

.addenda {
  background-color: #f4f9f9;
  display: flex;
  justify-content: left;
}

.addenda .fab {
  font-size: 2rem;
}

@media (max-width: 576px) {
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }
}
