:root {
  --primary-color: #14274e;
  --secondary-color: #9f5f80;
  --accent-color: #f1f6f9;
  --box-shadow: 0 5px 8px 0 rgba(252, 169, 169, 0.2);
  --font-heading: "Sarala", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

h1,
h2,
p {
  color: var(--primary-color);
}

h3 {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  text-align: center;
}

h1 {
  font-size: 9rem;
  line-height: 1;
  margin: 0;
}

.heading {
  font-size: 3rem;
  margin: 0;
  margin-top: 6rem;
}

p {
  font-family: var(--font-body);
  border-radius: 6px;
  line-height: 2;
  margin: 1rem;
  padding: 2rem;
  text-align: center;
}

a {
  color: var(--secondary-color);
  cursor: pointer;
  font-family: var(--font-body);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.country {
  font-size: 12px;
  opacity: 0.6;
}

.about-paragraphs {
  display: flex;
  justify-content: space-between;
}

.email-link {
  display: block;
  text-align: center;
}

.navigation-links {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.navigation-links a,
.yoga-button a {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--secondary-color);
  margin: 3rem;
}

.contact-link,
.app-button a {
  background: var(--secondary-color);
  color: var(--accent-color);
}

.about-link {
  color: var(--secondary-color);
}

.app-paragraphs h2,
.app-paragraphs p {
  text-align: left;
  padding-left: 0;
  margin-left: 0;
}

.img-fluid {
  box-shadow: var(--box-shadow);
}

@media (max-width: 576px) {
  p {
    text-align: center;
  }
}
